
 .cart-summeryy{
  width: 50%;
  margin: 0 auto;  
 justify-content: center;
 
 }
  
  .cart-summery {
    flex: 1;
  }
  
  .flexing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }