* {
  margin: 0;
  padding: 0;
  outline: none;
  
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #110435;
  /* overflow: hidden;  */
}





/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



header::after {
  /* content: "adidas";    */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.2);
  font-size: 17em;
  font-weight: 700;
  z-index: 0;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* Style for a valid input (optional) */
.valid-input {
  border: 1px solid green;
}
.remember-forgot .reset-pass{
  background-color: transparent;
  border: 2px solid transparent;
  color: #ffffff; /* Set the text color to white or your desired color */
  padding: 10px 20px;
  cursor: pointer;
  width: 180px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.remember-forgot .reset-pass:hover{

  background-color: #ffffff; /* Change the background color on hover */
  border-color: #ffffff; /* Change the border color on hover */
  color: #000000; /* Change the text color on hover */
}

/* MEDIA QUERIES */
@media screen and (max-width: 1150px) {
  header::before {
    display: none;
  }
  header {
    height: initial;
  }
}

@media screen and (max-height: 650px) {
  header {
    height: initial;
  }
}
