* {
  margin: 0;
  padding: 0;
  outline: none;
  
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #110435;
}




::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



header::after {
  /* content: "adidas";    */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.2);
  font-size: 17em;
  font-weight: 700;
  z-index: 0;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* Style for a valid input (optional) */
.valid-input {
  border: 1px solid green;
}
.remember-forgot .reset-pass{
  background-color: transparent;
  border: 2px solid transparent;
  color: #ffffff; /* Set the text color to white or your desired color */
  padding: 10px 20px;
  cursor: pointer;
  width: 180px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.remember-forgot .reset-pass:hover{

  background-color: #ffffff; /* Change the background color on hover */
  border-color: #ffffff; /* Change the border color on hover */
  color: #000000; /* Change the text color on hover */
}



.cart-container {
  width: 90%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  
}

.cart-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

}

.cart-history,
.cart-summery {
  margin: 20px;
}

.cart-history {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.cart-history > :nth-child(even) {
  margin: 10px 0px 10px 0px;
}

.cart-history-flex {
  display: flex;
}

.cart-history-flex > :nth-child(odd) {
  flex: 1;
}

.cart-history-flex > :nth-child(even) {
  flex: 2;
}

.cart-summery {
  flex: 1;
}

.flexing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NotFound.css */



/* MEDIA QUERIES */
@media screen and (max-width: 1150px) {
  header::before {
    display: none;
  }
  header {
    height: initial;
  }
}

@media screen and (max-height: 650px) {
  header {
    height: initial;
  }
}
